absl-py==2.1.0
affine
altair==5.4.1
appnope
asttokens
astunparse==1.6.3
attrs
beautifulsoup4==4.12.3
blinker==1.8.2
branca
Brotli
cachetools==5.5.0
certifi
cffi
charset-normalizer
click
click-plugins==1.1.1
cligj
comm
contourpy
cycler
deap==1.4.1
debugpy
decorator
exceptiongroup
executing
fastjsonschema==2.20.0
fiona
flatbuffers==24.3.25
folium
fonttools
gast==0.6.0
GDAL
geojson==3.1.0
geopandas
gitdb==4.0.11
GitPython==3.1.43
google-pasta==0.2.0
grpcio==1.67.0
h2
h5py==3.12.1
hpack==4.0.0
hyperframe
idna
importlib_metadata
ipykernel
ipython
jedi
Jinja2
joblib
jsonpickle==3.3.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client
jupyter_core
keras==3.6.0
kiwisolver
libclang==18.1.1
mapclassify
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe
matplotlib
matplotlib-inline
mdurl==0.1.2
ml-dtypes==0.4.1
munkres==1.1.4
namex==0.0.8
narwhals==1.10.0
nbformat==5.10.4
nest_asyncio
networkx
numpy==1.26.4
opt_einsum==3.4.0
optree==0.13.0
osmnx
packaging
pandas
parso
pexpect
pickleshare
pillow
platformdirs
plotly==5.24.1
prompt_toolkit
protobuf==4.25.5
psutil
ptyprocess==0.7.0
pure_eval
pyarrow==17.0.0
pycparser
pydeck==0.9.1
Pygments
pyparsing
pyproj
PySocks
python-dateutil
pytz
pyvis==0.3.2
pyzmq
rasterio
referencing==0.35.1
requests
rich==13.9.2
rpds-py==0.20.0
Rtree
scikit-learn==1.5.2
scipy==1.13.1
seaborn==0.13.2
setuptools==73.0.1
shapely
six
smmap==5.0.1
snuggs
soupsieve==2.6
stack-data
streamlit==1.39.0
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.5.0
threadpoolctl
toml==0.10.2
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug==3.0.4
wheel==0.44.0
wrapt==1.16.0
xyzservices
zipp
zstandard==0.23.0
langchain
langchain-experimental
openai
tabulate